<div>
    <div class="modal-body">
        <div>{{$ctrl.greeting}}</div>

        <form method="post">
            <div class="form-group">
                <label for="count">How much units you want to buy?</label>
                <input type="number" id="count" class="form-control" ng-model="$ctrl.modalData.count" ng-change="$ctrl.updateCurrencyCount()" required />
            </div>
        </form>

        <br>
        <p>It'll cost you <strong>{{$ctrl.summary | number : 2}}</strong></p>

        <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close Modal</button>

        <button class="btn btn-warning" type="button" ng-click="$ctrl.dismiss()">Dimiss Modal</button>

        <button class="btn btn-success" type="button" ng-click="$ctrl.buyCurrency()" ng-disabled="$ctrl.isDisabled">Buy</button>
    </div>
</div>