<div>
    <table class="table">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Unit</th>
                <th>Amount</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.cantorData">
                <td>{{item.code}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.cantorUnit}}</td>
                <td>{{item.purchasePrice | number : 2}}</td>
                <td><button class="btn btn-success" ng-click="$ctrl.buyCurrency(item)" ng-disabled="item.cantorUnit == 0">Buy</button></td>
            </tr>
        </tbody>
    </table>
</div>