<div>
    <table class="table">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Unit</th>
                <th>Amount</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.currencyExchangeData">
                <td>{{item.code}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.currencyExchangeUnit}}</td>
                <td>{{item.price | number : 2}}</td>
                <td><button class="btn btn-success" ng-click="$ctrl.buyCurrency(item)" ng-disabled="item.currencyExchangeUnit == 0">Buy</button></td>
            </tr>
        </tbody>
    </table>
</div>